h1 {
    text-align: center;
    font-size: 36px;
}

table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #6DA7FF;
}

.delete-btn {
    cursor: pointer;
    background-color: #007BFF;
    border: none;
    color: white;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.edit-btn:hover, .delete-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="text"], button[type="submit"] {
    padding: 8px;
    margin: 4px;
    border-radius: 4px;
}

button[type="submit"] {
    cursor: pointer;
    background-color: #007BFF;
    border: none;
    color: white;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



